section {
    display: flex;
    justify-content: space-around;
}

div {
    background-color: orangered;
}

section:nth-child(1) div {
    padding: 3% 49%;
    margin-bottom: 10px;
}

section:nth-child(2) div {
    padding: 3% 24%;
    margin-bottom: 10px;
}

section:nth-child(3) div {
    padding: 3% 15.7%;
    margin-bottom: 10px;
}

section:nth-child(4) div {
    padding: 3% 3.2%;
    margin-bottom: 10px;
}